// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
<<<<<<< HEAD
$line-height-base: 1.6;
=======
$line-height-base: 1.6;
>>>>>>> fbcf5b4809c95541bae4acdb76800a954a248a63
